<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.design.mapper.TbFruit4Mapper">
    
    <resultMap type="TbFruit4" id="TbFruit4Result">
        <result property="frid"    column="frid"    />
        <result property="dzh"    column="dzh"    />
        <result property="fname"    column="fname"    />
        <result property="disp1"    column="disp1"    />
        <result property="disp2"    column="disp2"    />
        <result property="disp3"    column="disp3"    />
        <result property="disp4"    column="disp4"    />
        <result property="disp5"    column="disp5"    />
        <result property="disp6"    column="disp6"    />
        <result property="disp7"    column="disp7"    />
        <result property="disp8"    column="disp8"    />
        <result property="disp9"    column="disp9"    />
        <result property="disp10"    column="disp10"    />
        <result property="rounds"    column="rounds"    />
        <result property="length1"    column="length1"    />
        <result property="dia1"    column="dia1"    />
        <result property="dia2"    column="dia2"    />
        <result property="dia3"    column="dia3"    />
        <result property="coe3"    column="coe3"    />
        <result property="length2"    column="length2"    />
        <result property="length3"    column="length3"    />
        <result property="height1"    column="height1"    />
        <result property="length4"    column="length4"    />
        <result property="radius1"    column="radius1"    />
        <result property="mat1"    column="mat1"    />
        <result property="mat2"    column="mat2"    />
        <result property="torsion1"    column="torsion1"    />
        <result property="stress1"    column="stress1"    />
        <result property="stress2"    column="stress2"    />
        <result property="stress3"    column="stress3"    />
        <result property="stress4"    column="stress4"    />
        <result property="stress5"    column="stress5"    />
        <result property="stress6"    column="stress6"    />
    </resultMap>

    <sql id="selectTbFruit4Vo">
        select frid, dzh, fname, disp1, disp2, disp3, disp4, disp5, disp6, disp7, disp8, disp9, disp10, rounds, length1, dia1, dia2, dia3, coe3, length2, length3, height1, length4, radius1, mat1, mat2, torsion1, stress1, stress2, stress3, stress4, stress5, stress6 from tb_fruit4
    </sql>

    <select id="selectTbFruit4List" parameterType="TbFruit4" resultMap="TbFruit4Result">
        <include refid="selectTbFruit4Vo"/>
        <where>  
            <if test="frid != null "> and frid = #{frid}</if>
            <if test="dzh != null  and dzh != ''"> and dzh = #{dzh}</if>
            <if test="fname != null  and fname != ''"> and fname like concat('%', #{fname}, '%')</if>
        </where>
    </select>
    
    <select id="selectTbFruit4ByFrid" parameterType="Long" resultMap="TbFruit4Result">
        <include refid="selectTbFruit4Vo"/>
        where frid = #{frid}
    </select>
        
    <insert id="insertTbFruit4" parameterType="TbFruit4">
        insert into tb_fruit4
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="frid != null">frid,</if>
            <if test="dzh != null">dzh,</if>
            <if test="fname != null">fname,</if>
            <if test="disp1 != null">disp1,</if>
            <if test="disp2 != null">disp2,</if>
            <if test="disp3 != null">disp3,</if>
            <if test="disp4 != null">disp4,</if>
            <if test="disp5 != null">disp5,</if>
            <if test="disp6 != null">disp6,</if>
            <if test="disp7 != null">disp7,</if>
            <if test="disp8 != null">disp8,</if>
            <if test="disp9 != null">disp9,</if>
            <if test="disp10 != null">disp10,</if>
            <if test="rounds != null">rounds,</if>
            <if test="length1 != null">length1,</if>
            <if test="dia1 != null">dia1,</if>
            <if test="dia2 != null">dia2,</if>
            <if test="dia3 != null">dia3,</if>
            <if test="coe3 != null">coe3,</if>
            <if test="length2 != null">length2,</if>
            <if test="length3 != null">length3,</if>
            <if test="height1 != null">height1,</if>
            <if test="length4 != null">length4,</if>
            <if test="radius1 != null">radius1,</if>
            <if test="mat1 != null">mat1,</if>
            <if test="mat2 != null">mat2,</if>
            <if test="torsion1 != null">torsion1,</if>
            <if test="stress1 != null">stress1,</if>
            <if test="stress2 != null">stress2,</if>
            <if test="stress3 != null">stress3,</if>
            <if test="stress4 != null">stress4,</if>
            <if test="stress5 != null">stress5,</if>
            <if test="stress6 != null">stress6,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="frid != null">#{frid},</if>
            <if test="dzh != null">#{dzh},</if>
            <if test="fname != null">#{fname},</if>
            <if test="disp1 != null">#{disp1},</if>
            <if test="disp2 != null">#{disp2},</if>
            <if test="disp3 != null">#{disp3},</if>
            <if test="disp4 != null">#{disp4},</if>
            <if test="disp5 != null">#{disp5},</if>
            <if test="disp6 != null">#{disp6},</if>
            <if test="disp7 != null">#{disp7},</if>
            <if test="disp8 != null">#{disp8},</if>
            <if test="disp9 != null">#{disp9},</if>
            <if test="disp10 != null">#{disp10},</if>
            <if test="rounds != null">#{rounds},</if>
            <if test="length1 != null">#{length1},</if>
            <if test="dia1 != null">#{dia1},</if>
            <if test="dia2 != null">#{dia2},</if>
            <if test="dia3 != null">#{dia3},</if>
            <if test="coe3 != null">#{coe3},</if>
            <if test="length2 != null">#{length2},</if>
            <if test="length3 != null">#{length3},</if>
            <if test="height1 != null">#{height1},</if>
            <if test="length4 != null">#{length4},</if>
            <if test="radius1 != null">#{radius1},</if>
            <if test="mat1 != null">#{mat1},</if>
            <if test="mat2 != null">#{mat2},</if>
            <if test="torsion1 != null">#{torsion1},</if>
            <if test="stress1 != null">#{stress1},</if>
            <if test="stress2 != null">#{stress2},</if>
            <if test="stress3 != null">#{stress3},</if>
            <if test="stress4 != null">#{stress4},</if>
            <if test="stress5 != null">#{stress5},</if>
            <if test="stress6 != null">#{stress6},</if>
         </trim>
    </insert>

    <update id="updateTbFruit4" parameterType="TbFruit4">
        update tb_fruit4
        <trim prefix="SET" suffixOverrides=",">
            <if test="dzh != null">dzh = #{dzh},</if>
            <if test="fname != null">fname = #{fname},</if>
            <if test="disp1 != null">disp1 = #{disp1},</if>
            <if test="disp2 != null">disp2 = #{disp2},</if>
            <if test="disp3 != null">disp3 = #{disp3},</if>
            <if test="disp4 != null">disp4 = #{disp4},</if>
            <if test="disp5 != null">disp5 = #{disp5},</if>
            <if test="disp6 != null">disp6 = #{disp6},</if>
            <if test="disp7 != null">disp7 = #{disp7},</if>
            <if test="disp8 != null">disp8 = #{disp8},</if>
            <if test="disp9 != null">disp9 = #{disp9},</if>
            <if test="disp10 != null">disp10 = #{disp10},</if>
            <if test="rounds != null">rounds = #{rounds},</if>
            <if test="length1 != null">length1 = #{length1},</if>
            <if test="dia1 != null">dia1 = #{dia1},</if>
            <if test="dia2 != null">dia2 = #{dia2},</if>
            <if test="dia3 != null">dia3 = #{dia3},</if>
            <if test="coe3 != null">coe3 = #{coe3},</if>
            <if test="length2 != null">length2 = #{length2},</if>
            <if test="length3 != null">length3 = #{length3},</if>
            <if test="height1 != null">height1 = #{height1},</if>
            <if test="length4 != null">length4 = #{length4},</if>
            <if test="radius1 != null">radius1 = #{radius1},</if>
            <if test="mat1 != null">mat1 = #{mat1},</if>
            <if test="mat2 != null">mat2 = #{mat2},</if>
            <if test="torsion1 != null">torsion1 = #{torsion1},</if>
            <if test="stress1 != null">stress1 = #{stress1},</if>
            <if test="stress2 != null">stress2 = #{stress2},</if>
            <if test="stress3 != null">stress3 = #{stress3},</if>
            <if test="stress4 != null">stress4 = #{stress4},</if>
            <if test="stress5 != null">stress5 = #{stress5},</if>
            <if test="stress6 != null">stress6 = #{stress6},</if>
        </trim>
        where frid = #{frid}
    </update>

    <delete id="deleteTbFruit4ByFrid" parameterType="Long">
        delete from tb_fruit4 where frid = #{frid}
    </delete>

    <delete id="deleteTbFruit4ByFrids" parameterType="String">
        delete from tb_fruit4 where frid in 
        <foreach item="frid" collection="array" open="(" separator="," close=")">
            #{frid}
        </foreach>
    </delete>
</mapper>